In [1]:
# importing modules
import pandas as pd
import re
from requests import get
from bs4 import BeautifulSoup

# getting url and converting into bs4 element
url = "https://dribbble.com/about"
response = get(url)
html_soup = BeautifulSoup(response.text, 'html.parser')

# finding all members tag
members = html_soup.find_all('h3', class_ = 'h4 mt0')
name = []
for m in members:
    name.append(m.text)
    
# finding all title tag
title = html_soup.find_all('small', class_ = 'text-small-caps text-subdued')
position = []
for pos in title:
    position.append(pos.text)
    

# saving data as pandas dataframe
dribbble_data = pd.DataFrame({'names': name,
                               'Title': position,
                              })
dribbble_data.to_csv('dribble.csv')

# checking data
dribbble_data.head()

           names                             Title
0    Ryan Arruda          Community Events Manager
1    Mike August  Sales Development Representative
2  Andrew Austin                  Product Designer
3  Jessica Barry                 Senior Accountant
4     Dave Baker                 Software Engineer