In [1]:
# importing modules
import pandas as pd
import re
from requests import get
from bs4 import BeautifulSoup

# getting url and converting into bs4 element
url = "https://about.gitlab.com/company/team/"
response = get(url)
html_soup = BeautifulSoup(response.text, 'html.parser')

# finding all members tag
data = html_soup.find_all('div', {'class': 'front'})
names = []
for m in data:
    nam = m.h3
    if nam:
        names.append(nam.text)
    else:
        names.append("null")
        

# Extracting location
locs = []
for l in data:
    loc = l.h5
    if loc:
        locs.append(loc.text)
    else:
        locs.append('null')
        

# preprocessing data
locations = []
for l in locs:
    lr = re.sub(r'[^\x00-\x7F]+',' ', l)
    locations.append(lr)


# finding all title tag
title = []
for pos in data:
    role = pos.h4
    if role:
        title.append(role.text)
    else:
        title.append('null')


# saving data as pandas dataframe
gitlab_data = pd.DataFrame({'names': names,
                            'Location': locations,
                            'Title': title,
                           })
gitlab_data.to_csv('gitlab.csv')

# checking data
gitlab_data.head()

,names,Location,Title
0,Sid Sijbrandij,"San Francisco, CA, USA","Co-founder, Chief Executive Officer (CEO)"
1,Marin Jankovski,"Amsterdam, The Netherlands","Engineering Manager, Delivery"
2,Dmitriy 'DZ' Zaporozhets,"Kharkiv, Ukraine","Co-founder, Engineering Fellow"
3,Robert Schilling,"Graz, Austria",Core Team member
4,Jacob Vosmaer,"Amsterdam, The Netherlands","Staff Backend Engineer, Gitaly"

In [2]:
# Social media can't map to the tema members due to pattern inconsistency
# Creating separate csv file and extracting it
social = []
for t in data:
    soc = t.find('div', class_ = 'social')
    if soc:
        for a in soc.find_all('a', href=True):
            tt = a['href']
            social.append(tt)
    else:
        social.append('null')

     

# saving data as pandas dataframe
gitlab_social_data = pd.DataFrame({'Social_link': social,
                           })
gitlab_social_data.to_csv('gitlab_social.csv')

# checking data
gitlab_social_data.head()

                        Social_link
0        https://twitter.com/sytses
1         https://gitlab.com/sytses
2      https://twitter.com/maxlazio
3          https://gitlab.com/marin
4  https://twitter.com/dzaporozhets